env:
  global:
    - ANDROID_NDK_VERSION=r17b
    - ANDROID_NDK_HOME=${TRAVIS_BUILD_DIR}/android-ndk-${ANDROID_NDK_VERSION}
    - PATH=${PATH}:${ANDROID_NDK_HOME}

install:
  - ./install-dependencies.sh

script:
  - $ANDROID_NDK_HOME/ndk-build

after_success:
  - tar -zcvf minitouch.tar.gz -C libs .

deploy:
  provider: releases
  file: minitouch.tar.gz
  skip_cleanup: true
  on:
    tags: true
